<table id="surveytypetable" class="table table-striped" style="width:100%">
    <thead>
        <tr>
            {% for column in header %}
                {% if loop.index > 1 %}
                    <th>{{ column }}</th>
                {% endif %}
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in rows %}
            <tr>
                {% for column in row %}
                    {% if not loop.first %}
                        <td>{{ column }}</td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            {% for column in header %}
                {% if loop.index > 1 %}
                    <th>{{ column }}</th>
                {% endif %}
            {% endfor %}
        </tr>
    </tfoot>
</table>